/** {
  outline: 1px solid red;
}*/

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00cba9 !important;
  margin-bottom: 10px;
  padding: 5px;
}

.nav-container > nav {
  min-width: 600px;
  width: 70vw;
  max-width: 1500px;
  margin-left: 100px;
}

.content-container {
  min-width: 600px;
  width: 70vw;
  max-width: 1500px;
  margin: 0 auto;
}

nav * {
  color: #fff !important;
  font-weight: 600 !important;
}

.waves {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: -1;
}

.waves > svg {
  transform: scaleY(2);
}

